<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /interviewai/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /interviewai/index.html [L,QSA]
</IfModule>
