@import 'tailwindcss';
@import url('datatables.net-dt');

@theme {
    --color-primary: #3e9ffb;
    --color-secondary: #3e9ffb36;
    --color-primary-gray: #1e1e1e;
    --color-primary-green: #34a853;
    --color-blue-background: #3e9ffb1a;
    --color-shell: #faf6ef;
    --color-border: #e7e7e9;
    --color-neutralbg: #f3f3f6;
    --color-neutral: #6c6c6c;
    --color-text-primary: #3e9ffb;
    /* Border */
    --color-border-primary: #dbdbdb;
    --color-border-secondary: #e7e7e9;

    /* Paragraph */
    --color-subtext-primary: #2c2c2c;
    --color-text-gray: #707070;
    --color-text-neutral: #a4a4a4;
    --color-paragraph: #5c5c5c;

    /* Icon  */
    --color-icon-primary: #929292;

    /* Table */
    --color-table-background: #f9f9f9;
    --color-table-text: #8f8f8f;
}
@layer base {
    /* Custom Fonts */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: url('./assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        src: url('./assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        src: url('./assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        src: url('./assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
    }

    /* Custom Variables */
    :root {
        --color-white: #ffffff;
        --color-black: #000000;
    }
    body {
        font-family: 'Poppins' !important;
    }
    a {
        cursor: pointer !important;
    }
    button {
        cursor: pointer !important;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
    .label {
        margin-bottom: 0.5rem;
        display: block;
        font-size: 1rem;
        font-weight: 500;
        color: #000000;
    }
    .input {
        width: 100%;
        background-color: transparent;
        border: 1px solid #dbdbdb;
        border-radius: 6px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        outline: none;
        transition: all 0.3s;
    }
}

@layer utilities {
    .scrollbar-hidden {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

@layer components {
    /* button */
    .link-button {
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s;
        color: #3e9ffb;
        text-decoration: none;
    }
    .outline-button {
        display: inline-flex;
        align-items: center;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        padding: 10px 30px;
        border: 1px solid #dbdbdb;
    }
    .btn-fill {
        padding: 15px 50px;
        border-radius: 6px;
        font-weight: 500;
        font-size: 1rem;
        color: white;
        cursor: pointer;
        background-color: #3e9ffb;
        transition: all 0.3s;
    }

    .para {
        font-size: 12px;
        color: #5c5c5c;
    }
    .subheading {
        font-size: 14px;
        color: #5c5c5c;
        font-weight: 600;
    }
    #DataTables_Table_0_wrapper {
        border-radius: 20px !important;
    }
}
/* Data Table */
#DataTables_Table_0_wrapper td {
    text-align: center;
}
#DataTables_Table_0_wrapper tbody {
    padding: 10px 10px;
}

#DataTables_Table_0_wrapper tbody tr {
    color: #8f8f8f;
    font-size: 14px;
    border-bottom: 1px solid #dbdbdb;
}
#DataTables_Table_0_wrapper tbody tr td {
    padding: 20px 10px;
}
#DataTables_Table_0_wrapper tbody,
#DataTables_Table_0_wrapper table {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#DataTables_Table_0_wrapper .dt-layout-row:first-child,
#DataTables_Table_0_wrapper .dt-layout-row:nth-child(3) {
    display: flex;
    justify-content: space-between;
    color: #5c5c5c;
    padding: 20px 0px;
}
#DataTables_Table_0_wrapper .dt-paging button {
    padding: 10px 17px;
    border: 1px solid #dbdbdb;
    border-radius: 100%;
    margin: 0px 2px;
    font-size: 12px;
    font-weight: 600;
}
#DataTables_Table_0_wrapper .dt-paging-button.current {
    background-color: #3e9ffb;
    color: white;
    border: #3e9ffb;
}
#DataTables_Table_0_wrapper .dt-paging-button.disabled {
    background-color: #dbdbdb54;
    color: #8080806e;
}
#DataTables_Table_0_wrapper .dt-search input {
    border: 1px solid #dbdbdb;
    color: #1e1e1e;
    font-size: 14px;
    border-radius: 6px;
    padding: 10px 10px;
    margin-left: 10px;
}
#DataTables_Table_0_wrapper .dt-search input::placeholder {
    color: #8f8f8f;
    font-size: 14px;
}
/* Data Table end */
/* Loader */
.custome-loader circle {
    stroke: #3031401a;
}
