@import 'tailwindcss';
@import url('datatables.net-dt');

@theme {
    --color-primary: #3e9ffb;
    --color-secondary: #3e9ffb36;
    --color-primary-gray: #1e1e1e;
    --color-primary-green: #34a853;
    --color-blue-background: #3e9ffb1a;
    --color-shell: #faf6ef;
    --color-border: #e7e7e9;
    --color-neutralbg: #f3f3f6;
    --color-neutral: #6c6c6c;
    --color-text-primary: #3e9ffb;
    /* Border */
    --color-border-primary: #dbdbdb;
    --color-border-secondary: #e7e7e9;

    /* Paragraph */
    --color-subtext-primary: #2c2c2c;
    --color-text-gray: #707070;
    --color-text-neutral: #a4a4a4;
    --color-paragraph: #5c5c5c;

    /* Icon  */
    --color-icon-primary: #929292;

    /* Table */
    --color-table-background: #f9f9f9;
    --color-table-text: #8f8f8f;
}
@layer base {
    /* Custom Fonts */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: url('./assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        src: url('./assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        src: url('./assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        src: url('./assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
    }

    /* Custom Variables */
    :root {
        --color-white: #ffffff;
        --color-black: #000000;
    }
    body {
        font-family: 'Poppins' !important;
    }
    a {
        cursor: pointer !important;
    }
    button {
        cursor: pointer !important;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
    /* Hide scrollbar */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .label {
        margin-bottom: 5px !important;
        display: block;
        font-size: 1rem;
        font-weight: 500;
        color: #000000;
    }
    .input {
        width: 100%;
        background-color: transparent;
        border: 1px solid #dbdbdb;
        border-radius: 6px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        outline: none;
        transition: all 0.3s;
    }
    .modal-title {
        font-size: 20px;
        font-weight: 600;
        color: #1e1e1e;
    }
}

@layer utilities {
    .scrollbar-hidden {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

@layer components {
    /* button */
    .link-button {
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s;
        color: #3e9ffb;
        text-decoration: none;
    }
    .back-button {
        padding: 15px 50px;
        border-radius: 6px;
        font-weight: 500;
        font-size: 1rem;
        color: #8f8f8f;
        cursor: pointer;
        transition: all 0.3s;
    }
    .outline-button {
        display: inline-flex;
        align-items: center;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        padding: 10px 30px;
        border: 1px solid #dbdbdb;
    }
    .btn-fill {
        padding: 15px 50px;
        border-radius: 6px;
        font-weight: 500;
        font-size: 1rem;
        color: white;
        cursor: pointer;
        background-color: #3e9ffb;
        transition: all 0.3s;
    }
    .btn-disabled {
        background-color: #dbdbdb;
        color: white;
        cursor: not-allowed;
    }
    .modal-btn-fill {
        padding: 10px 30px;
        border-radius: 6px;
        font-weight: 500;
        font-size: 14px;
        color: white;
        cursor: pointer;
        background-color: #3e9ffb;
        transition: all 0.3s;
    }
    .modal-btn-outline {
        display: inline-flex;
        align-items: center;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 400;
        color: #8f8f8f;
        text-align: center;
        padding: 10px 30px;
        border: 1px solid #dbdbdb;
    }
    .para {
        font-size: 12px;
        color: #5c5c5c;
    }
    .subheading {
        font-size: 14px;
        color: #5c5c5c;
        font-weight: 600;
    }
}

.custome-loader circle {
    stroke: #3031401a;
}

/* Calender */
.react-calendar {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    background-color: #fbfbfb;
}
.react-calendar abbr {
    font-size: 12px;
    text-decoration: none;
    color: #8f8f8f;
    font-weight: 500 !important;
}
.react-calendar__month-view__days abbr {
    color: #5c5c5c;
    font-size: 12px;
    font-weight: 600 !important;
}
.react-calendar__tile--active {
    background-color: #3e9ffb;
    border-radius: 50%;
    color: white;
}
.react-calendar__tile--active abbr {
    color: white;
}
.react-calendar__tile--now {
    background-color: #3e9ffb36;
    color: #3e9ffb;
    border-radius: 100%;
}
.react-calendar__navigation button {
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 600;
}
